<!--
<head>
  <title>Pantr</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body>
  <h1>Pantr</h1>

  <div class="outer">
      <div class="sidebar">
          <p class="title">Ingredients</p>
          {{> ingredients}}
      </div>

      <div class="sidebar">
          <p class="title">Pantry</p>
          Your pantry is currently empty
      </div>

      <div class="content">
          <h2>Recipes</h2>
          {{> recipes}}
      </div>
  </div>

  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
</body>

-->
